.playback-controls {
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding-left: 10px;
    margin-right: 100px;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    z-index: 1100;
}

.playback-controls > * {
    margin: 0 10px 0 10px;
}

#run-time {
    width: 200px
}