/.venv/
/.env
/base/*
!/base/.gitkeep
!/base/raw/
/base/raw/*
!/base/raw/.gitkeep
!/base/rinex/
/base/rinex/*
!/base/rinex/.gitkeep
!/base/notes/
/base/notes/*
!/base/notes/.gitkeep
/in/*
!/in/.gitkeep
/in_base/
/in_imu
/out/
/viewer/manifest.json
/viewer/data/
/log/
